<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<script type="text/javascript"  th:src="@{https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>提取抖音视频和音乐下载地址</title>
</head>
<body>
<label>说明：如需要下载提取后的视频或者音乐,请把链接复制到浏览器打开下载或在本网站上下载。可只复制抖音app的分享链接，如http://v.douyin.com/xB7gDq/.
也可将包括中文在内的抖音地址复制过来，如“#在抖音，记录美好生活#在最好的年纪，做最疯狂的事 http://v.douyin.com/xB7gDq/ 复制此链接，打开【抖音短视频】，直接观看视频！”</label>
<div><div><label style="text-align: center">抖音地址:</label></div><textarea style="width: 400px;height: 200px"  id="url" name="url">#在抖音，记录美好生活#在最好的年纪，做最疯狂的事 http://v.douyin.com/xB7gDq/ 复制此链接，打开【抖音短视频】，直接观看视频！</textarea></div><button onclick="get()">提取水印视频下载地址</button>&nbsp;&nbsp;&nbsp;<button onclick="getmusic()">提取背景音乐下载地址</button>&nbsp;&nbsp;&nbsp;<button onclick="getw()">提取无水印视频下载地址</button>
<div>
  <!--  <a href="" id="s">水印视频下载地址</a><br>
    <a href="" id="w">无水印视频下载地址,只需把水印视频地址中的playwm替换成play就行,可以手动替换,也可以点击上面按钮自动替换</a><br>
    <a href="" id="m">背景音乐下载地址</a>-->
    <p>水印视频下载地址:</p>
    <label id="s"></label>
    <p  >无水印视频下载地址,只需把水印视频地址中的playwm替换成play就行,可以手动替换,也可以点击上面按钮自动替换:</p>
    <label id="w"></label>
    <p>背景音乐下载地址:</p>
    <label id="m"></label>
</div>
</body>
</html>
<script>
    var r=/https?:\/\/[A-Za-z0-9]+\.[A-Za-z0-9]+[\/=\?%\-&_~`@[\]\':+!]*([^<>\"\"])*$/;
    //var regs = new RegExp();
   // regs.compile('/https?:\/\/[\w-.%#?\/\\\]',"i")
    //var ru=/https?:\/\/[\w-.%#?\/\\\]/
    //var rs=/^https:\/\/[A-Za-z0-9]+\.[A-Za-z0-9]+[\/=\?%\-&_~`@[\]\':+!]*([^<>\"\"])*$/;
    var reg = /[\u4e00-\u9fa5|，！#【】]/g;
    var newreg=/((https?|ftp|file):\/\/|)[-A-Za-z0-9+&@#/%?=~_|!:,.;]+[-A-Za-z0-9+&@#/%=~_|]/;

    function get() {
           if(validate()){
               var u=$("#url").val();
               //var rurl=u.replace(reg, "").trim();
               var nu=u.match(newreg)[0];
               $.ajax({

                   url:'/get',
                   data:{url:u,type:0},
                   success:function (result) {
                       console.log(result.url)
                       //$("#s").attr("href",result);
                       var html="&nbsp;&nbsp;&nbsp;<a href='/getvideobynio?url="+result.url+"&desc="+result.desc+"'>下载</a>&nbsp;&nbsp;&nbsp;<a href='/getvideobynio?url="+result.url+"&desc="+result.desc+"&type=t'>视频转MP3音频</a>"
                        $("#s").text(result.url);
                        $("#s").append(html);
                        //$("#s").bind("click",function () {
//download(result);
                        //})
                   }
               })
           }
    }

    function download() {
        var u=$("#s").text();
        alert(u);
        $.ajax({

            url:'/getvideo',
            data:{url:u},
            success:function (result) {
                //$("#s").attr("href",result);
                $("#m").text(result.url);
            }
        })

    }
    function getmusic() {
        if(validate()){
            var u=$("#url").val();
            var rurl=u.replace(reg, "").trim();
            $.ajax({

                url:'/get',
                data:{url:u,type:1},
                success:function (result) {
                    //$("#s").attr("href",result);
                    var html="&nbsp;&nbsp;&nbsp;<a href='/getvideobynio?url="+result.url+"&desc="+result.desc+"&type=m'>下载</a>"
                    $("#m").text(result.url);
                    if(result.url!=""){
                        $("#m").append(html);
                    }

                }
            })
        }
    }
    function getw() {
        if(validate()){
            var u=$("#url").val();
            var rurl=u.replace(reg, "").trim();
            $.ajax({

                url:'/get',
                data:{url:rurl,type:0,m:0},
                success:function (result) {
                    //$("#s").attr("href",result);
                    var html="&nbsp;&nbsp;&nbsp;<a href='/getvideobynio?url="+result.url+"&desc="+result.desc+"'>下载</a>&nbsp;&nbsp;&nbsp;<a href='/getvideobynio?url="+result.url+"&desc="+result.desc+"&type=t'>视频转MP3音频</a>"
                    $("#w").text(result.url);
                    $("#w").append(html);
                }
            })
        }
    }

    function validate() {
           var url=$("#url").val();
           if (url){

              // url=url.trim().replace("#","");
               //var furl=url.replace(reg, "").trim();
               //var k=newreg.exec(url);
               //var l=url.match(newreg);
               if(r.exec(url)!=null)
               {

                   return true;
               }else {
                   alert("请填写有效的链接地址");
                   return false;
               }


           }else {
               alert("请输入地址")
               return false;
           }

    }
</script>